.shorten__form {
  background: var(--pri-darkViolet);
  background-image: url("../../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--darkBlue);
}

.shorten__input {
  display: block;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 0.75rem;
  width: 100%;
  color: var(--darkBlue);
  border: 1px solid var(--darkBlue);
}

.short__form--error {
  color: var(--sec-red);
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.85rem;
  font-style: italic;
}

.shorten__cta {
  display: block;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-weight: 700;
  padding: 0.75em 1.25em;
  font-size: 1.25rem;
  background: var(--pri-cyan);
  margin-top: 1rem;
}
